.selectBox{
    margin: 20px 20px;
    width: 100%;
    height: auto;
}
#next #back{
    cursor: pointer; width: 82px; height: 30px; background: #2330fb; color: white; text-align: center; line-height: 30px;
    border-radius: 5px;
}

.forceButton{
    background-color: #2bb4dc;
}